<?php

return array(
    'db' => array(
        'driver'            => 'Pdo',
        'username'          => 'your username here',
        'password'          => 'your password here',
        'dsn'               => 'mysql:dbname=yourDbNameHere;host=localhost',
        'driver_options'    => array(
            PDO::MYSQL_ATTR_INIT_COMMAND => 'SET NAMES \'UTF8\''
        ),
    ),
);